In [2]:
fruits = {'apple', 'grapes', 'cherry', 'banana' } 
print(fruits)

{'apple', 'cherry', 'grapes', 'banana'}

In [3]:
# add 
# Adds an element to the set 

fruits.add('orange') 
print(fruits)

{'grapes', 'banana', 'apple', 'cherry', 'orange'}

In [4]:
# What if we try to add already existing element 
fruits.add('apple') 
print(fruits)

{'grapes', 'banana', 'apple', 'cherry', 'orange'}

In [5]:
# clear 
# Removes all the elements from the set 
fruits.clear() 
print(fruits)

set()

In [7]:
odds_with_evens = { 1, 3, 5, 7, 4, 8 } 
evens_with_odds = { 2, 4, 6, 8 } 

# difference 
# Returns a "new set" containing all the elements which are in the set bot not in the other set  
diff_set = odds_with_evens.difference( evens_with_odds ) 
print(diff_set)

{1, 3, 5, 7}

In [8]:
# difference_update 
# Updates the set, removing the elements which are also in the other set 
set1 = {1, 2, 3, 4, 5 } 
set2 = {4, 5, 6, 7 , 8 } 

set1.difference_update(set2) 
print(set1)

{1, 2, 3}

In [9]:
# discard( element ) 
# Removes an element from the set if it is present 

fruits = {"apple", "banana", "cherry" } 
fruits.discard("banana") 
print(fruits)

{'apple', 'cherry'}

In [10]:
# intersection 
# New set :: common elements of the 2 sets 
set1 = {1, 2, 3, 4 ,5 } 
set2 = {4, 5, 6, 7, 8 } 
intersection_set = set1.intersection(set2) 
print(intersection_set)

{4, 5}

In [11]:
# intersection_update 
set1 = {1, 2, 3, 4 ,5 } 
set2 = {4, 5, 6, 7, 8 } 
set1.intersection_update(set2) 
print(set1)

{4, 5}

In [13]:
# .isdisjoint( set2 ) 
set1 = {1, 2, 3 } 
set2 = {4, 5, 6 } 
print(set1.isdisjoint(set2))
set3 = {3, 4, 5 } 
print(set1.isdisjoint(set3))

True
False

In [15]:
# .issubset( set2 ) 

set1 = {1, 2, 3 } 
set2 = { 1, 2, 3, 4, 5 } 
print(set1.issubset(set2))
print(set2.issubset(set1))

True
False

In [16]:
# .issuperset( set2 ) 

set1 = {1, 2, 3 } 
set2 = { 1, 2, 3, 4, 5 } 
print(set1.issuperset(set2))
print(set2.issuperset(set1))

False
True

In [24]:
# .pop() 

fruits = {"guava", "cherry", "orange"} 
removed_fruit = fruits.pop() 
print(removed_fruit) 
print(fruits)

cherry
{'guava', 'orange'}

In [25]:
# remove( element ) 

fruits = {'apple', 'banana', 'cherry' } 
fruits.remove('banana') 
print(fruits)

{'apple', 'cherry'}

In [26]:
fruits.remove('banana')

KeyError: 'banana'

In [27]:
# symmetric_difference ( other_set ) 

set1 = {1, 2, 3, 4 } 
set2 = {3, 4, 5, 6 } 
print(set1.symmetric_difference(set2))

{1, 2, 5, 6}

In [28]:
# symmetric_difference_update 
set1 = {1, 2, 3, 4 } 
set2 = {3, 4, 5, 6 } 
set1.symmetric_difference_update(set2) 
print(set1)

{1, 2, 5, 6}

In [29]:
# union

set1 = {1, 2, 3 } 
set2 = {3, 4, 5 } 
union_set = set1.union(set2) 
print(union_set)

{1, 2, 3, 4, 5}

In [30]:
# update 

set1 = {1, 2, 3 } 
set2 = {2, 3, 4 } 

set1.update(set2) 

print(set1)

{1, 2, 3, 4}